body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #2e64a1;
    padding-top: 16px;
}
header h1{
    color: white;
    font-style: italic;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 35px;
}
nav{
    background-color: #6da9ed;
    margin-bottom: 20px;
}
nav ul{
    margin: 0;
    list-style: none ;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}
a:hover{
    background: rgb(0, 0, 0, 0.3) ;
}
nav ul li a.activo{
    background: rgb(0, 0, 0, 0.3) ;
}
footer{
    background-color: #ccc;
    text-align: center;
    padding: 50px 0;
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}
h2{
    color: #2e64a1;
    font-weight: 400;
}
.bienvenidos{
    width: 75%;
    padding-right: 20px;
}
.testimonios{
    width: 25%;
}
.columnas{
    display: flex;
    margin-bottom: 20px;
}
.testimonio{
    background-color: #ccc;
    padding: 16px;
}
.testimonio .cita{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    display: block;
}
.testimonio .autor{
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.historia p{
    font-size: 13px;
}
.personas{
    display: flex;
    justify-content: space-between;
}
.persona{
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;

}
.persona img{
    border-radius: 50%;
    max-width: 65%;
    box-shadow: 0 0 5px black;
    margin-top: 15px;
    margin-bottom: 10px;
}
.persona h5,
.persona h6{
    color: #2e64a1;
    font-weight: normal;
    margin: 0;
}
.persona h5{
    font-size: 16px;
}
.persona h6{
    font-style: italic;
}
.persona p{
    font-size: 12px;
    line-height: 16px;
}
.servicio{
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 16px 0;
    padding: 16px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.info h4{
    font-style: italic;
    font-size: 20px;
    color: #2e64a1;
    font-weight: 500;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 8px;
}
.servicio img{
    border-radius: 15px;
    max-width: 225px;
    display: block;
}
.servicio:nth-child(even){
    flex-direction: row-reverse;
}
.contacto{
    display: flex;
    gap: 25px;

}
.contacto section{
    width: 100%;
}
.datos p{
    font-size: 14px;
}
.datos ul li{
    font-size: 13px;
}
.formulario p{
    display: flex;
}
.formulario p label{
    min-width: 100px;
    display: flex;
    align-items: center;
}
.formulario p input, 
.formulario p textarea{
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px;
}
.formulario textarea{
    resize: none;
    height: 150px;
}
.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px #ccc;
    color: white;
    font-size: 16px;
    width: auto;
    margin-left: 100px;
}